* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.html {
  overflow: hidden;
}

.body,
.head {
  display: block;
  font-size: 52px;
  color: transparent;
}

.head::before,
.head::after,
.body::before,
.body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  pointer-events: none;
}

.body::before {
  opacity: 0.2;
  text-shadow: -0.1072426705em 1.3359409096em 7px rgba(0, 3, 255, 0.9),
    2.0421372406em -0.2877874214em 7px rgba(14, 0, 255, 0.9),
    0.3723909695em -0.1694041564em 7px rgba(255, 0, 166, 0.9),
    0.1226922755em 2.485343046em 7px rgba(255, 0, 215, 0.9),
    1.3520416273em 1.9466769361em 7px rgba(255, 0, 42, 0.9),
    -0.2948309589em 1.0552357755em 7px rgba(252, 255, 0, 0.9),
    0.4064503501em 1.7205653867em 7px rgba(255, 37, 0, 0.9),
    2.4732484617em -0.4468318238em 7px rgba(255, 248, 0, 0.9),
    1.0370533525em 0.0273711187em 7px rgba(0, 183, 255, 0.9),
    0.1561482869em 0.5853540555em 7px rgba(129, 255, 0, 0.9),
    2.4775987675em 0.7146818574em 7px rgba(140, 0, 255, 0.9),
    2.4613899047em 1.2995841007em 7px rgba(155, 255, 0, 0.9),
    1.534804604em 0.8322678461em 7px rgba(255, 133, 0, 0.9),
    0.2594510867em 1.7500992738em 7px rgba(255, 198, 0, 0.9),
    0.5552070371em 2.3207996649em 7px rgba(255, 41, 0, 0.9),
    2.1303111624em 1.5295879705em 7px rgba(0, 189, 255, 0.9),
    0.0706353503em 0.7267633049em 7px rgba(0, 255, 122, 0.9),
    0.9001772861em -0.0070184925em 7px rgba(0, 190, 255, 0.9),
    0.2893715702em 1.6118803587em 7px rgba(0, 180, 255, 0.9),
    1.5149997147em 0.4749917225em 7px rgba(255, 0, 206, 0.9),
    1.9732239357em -0.3603005331em 7px rgba(16, 255, 0, 0.9),
    0.3415688705em 0.0336391527em 7px rgba(255, 0, 169, 0.9),
    1.0686181652em 0.7391509039em 7px rgba(255, 4, 0, 0.9),
    1.5556152255em 1.5976666615em 7px rgba(0, 255, 201, 0.9),
    1.125003567em 0.751480314em 7px rgba(255, 0, 44, 0.9),
    2.3720959679em 2.2152634552em 7px rgba(255, 0, 20, 0.9),
    0.8247950367em -0.1016652561em 7px rgba(181, 0, 255, 0.9),
    0.6477975375em -0.4068523586em 7px rgba(255, 114, 0, 0.9),
    0.425934443em 0.5244722524em 7px rgba(255, 0, 213, 0.9),
    2.3522215379em 0.7955052578em 7px rgba(0, 170, 255, 0.9),
    0.5637110692em 0.2089228303em 7px rgba(0, 27, 255, 0.9),
    0.2136087362em 1.2061774889em 7px rgba(255, 0, 30, 0.9),
    1.2858447848em 2.056430121em 7px rgba(201, 255, 0, 0.9),
    0.4334904046em -0.0890189268em 7px rgba(0, 255, 0, 0.9),
    2.2352987366em 1.4268460615em 7px rgba(0, 255, 242, 0.9),
    1.0749632267em -0.4186006822em 7px rgba(0, 170, 255, 0.9),
    1.8744510147em 2.3187945022em 7px rgba(0, 255, 173, 0.9),
    1.7044350787em 1.0145165838em 7px rgba(81, 255, 0, 0.9),
    1.3969706547em 1.3479795992em 7px rgba(108, 0, 255, 0.9),
    -0.4668246007em 2.4643842912em 7px rgba(206, 255, 0, 0.9),
    -0.1672248286em 1.4429280321em 7px rgba(0, 255, 95, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

.body::after {
  opacity: 0.2;
  text-shadow: 0.596673614em 1.8629061722em 7px rgba(0, 2, 255, 0.9),
    -0.4459211573em 0.7140936087em 7px rgba(0, 63, 255, 0.9),
    2.014561677em 1.2618246835em 7px rgba(255, 224, 0, 0.9),
    0.1327511764em 0.8227833664em 7px rgba(255, 41, 0, 0.9),
    -0.0459040468em 1.0504858402em 7px rgba(0, 32, 255, 0.9),
    -0.1318409763em 1.4656018432em 7px rgba(0, 52, 255, 0.9),
    1.9974841447em -0.4001247336em 7px rgba(255, 51, 0, 0.9),
    1.5537544553em 1.7903684592em 7px rgba(0, 255, 190, 0.9),
    1.7932960249em 1.5759174929em 7px rgba(0, 255, 97, 0.9),
    2.1487301159em 2.1770743336em 7px rgba(247, 255, 0, 0.9),
    1.6506786832em -0.2233674955em 7px rgba(250, 0, 255, 0.9),
    1.8316367948em 0.395974529em 7px rgba(0, 108, 255, 0.9),
    2.0955615178em 1.8108969434em 7px rgba(255, 255, 0, 0.9),
    0.8908604139em 2.3839217415em 7px rgba(127, 255, 0, 0.9),
    0.4217504161em 0.6419431341em 7px rgba(255, 255, 0, 0.9),
    2.2577473978em 1.0587898261em 7px rgba(0, 255, 162, 0.9),
    0.0667964591em 0.7159158549em 7px rgba(0, 255, 195, 0.9),
    0.8112767313em -0.1179882677em 7px rgba(255, 135, 0, 0.9),
    -0.436298537em 0.0046537717em 7px rgba(137, 0, 255, 0.9),
    0.9449154986em 2.2732304348em 7px rgba(77, 0, 255, 0.9),
    2.2502608396em -0.3744581907em 7px rgba(171, 255, 0, 0.9),
    2.3091139314em 0.2947165661em 7px rgba(225, 0, 255, 0.9),
    0.7778816203em 0.4823969359em 7px rgba(108, 0, 255, 0.9),
    0.2663130808em 1.3061710856em 7px rgba(0, 164, 255, 0.9),
    1.8815333373em 1.2368718911em 7px rgba(255, 164, 0, 0.9),
    1.461902913em 0.314251056em 7px rgba(0, 255, 119, 0.9),
    -0.0557342633em -0.2436060851em 7px rgba(201, 0, 255, 0.9),
    1.5905814485em 1.7652244857em 7px rgba(0, 122, 255, 0.9),
    2.429653412em 2.2799263633em 7px rgba(119, 0, 255, 0.9),
    2.3202800645em 0.3215817328em 7px rgba(255, 231, 0, 0.9),
    0.7194788577em 1.0802294432em 7px rgba(0, 189, 255, 0.9),
    -0.4736724868em 1.4544785692em 7px rgba(255, 0, 180, 0.9),
    1.3557280955em 1.6404492088em 7px rgba(0, 203, 255, 0.9),
    0.0656392772em -0.0343879621em 7px rgba(255, 216, 0, 0.9),
    1.3981953245em -0.353336619em 7px rgba(0, 255, 235, 0.9),
    1.2018061444em 1.8553529309em 7px rgba(4, 0, 255, 0.9),
    2.1096962947em 1.9125957677em 7px rgba(122, 255, 0, 0.9),
    0.5663904585em 0.5463480699em 7px rgba(255, 0, 183, 0.9),
    0.5177938701em 2.4638278345em 7px rgba(164, 255, 0, 0.9),
    0.0517700604em 0.5876262032em 7px rgba(0, 255, 196, 0.9),
    1.4193360337em 1.6088658806em 7px rgba(0, 191, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

.head::before {
  opacity: 0.2;
  text-shadow: 0.179899089em 2.3711033466em 7px rgba(0, 255, 171, 0.9),
    1.0274808482em -0.0036147171em 7px rgba(216, 255, 0, 0.9),
    2.3563426409em 2.17517739em 7px rgba(255, 153, 0, 0.9),
    2.2094492096em 1.8322956175em 7px rgba(6, 255, 0, 0.9),
    -0.0885016837em 2.2634079261em 7px rgba(192, 255, 0, 0.9),
    0.1064878439em 0.3508515262em 7px rgba(230, 0, 255, 0.9),
    2.1998581287em -0.0657728654em 7px rgba(2, 255, 0, 0.9),
    -0.4298790238em 0.0945235672em 7px rgba(131, 0, 255, 0.9),
    0.9755155664em 0.6962744679em 7px rgba(255, 216, 0, 0.9),
    1.6523847434em 2.2215997516em 7px rgba(0, 255, 150, 0.9),
    2.0956657023em 1.0055104022em 7px rgba(255, 52, 0, 0.9),
    -0.385122238em 2.0952785705em 7px rgba(80, 0, 255, 0.9),
    0.838477048em 0.0820014415em 7px rgba(255, 0, 95, 0.9),
    -0.4158652631em 0.0315158667em 7px rgba(255, 0, 56, 0.9),
    1.4551628194em 0.6204838976em 7px rgba(48, 255, 0, 0.9),
    1.8029131307em 1.5402484496em 7px rgba(255, 0, 189, 0.9),
    -0.4680419086em 1.9275161668em 7px rgba(94, 255, 0, 0.9),
    1.3526096632em 1.7912345271em 7px rgba(255, 0, 236, 0.9),
    0.8820004822em -0.068059729em 7px rgba(0, 255, 26, 0.9),
    1.8643950362em 1.3087744853em 7px rgba(0, 222, 255, 0.9),
    -0.201420417em 1.8055261415em 7px rgba(5, 255, 0, 0.9),
    1.5425208488em 1.4625474332em 7px rgba(0, 255, 90, 0.9),
    2.1222237752em -0.0990524529em 7px rgba(44, 0, 255, 0.9),
    1.3518743713em -0.1186159674em 7px rgba(0, 142, 255, 0.9),
    0.1907008412em 0.6069522961em 7px rgba(0, 240, 255, 0.9),
    0.4303505097em 1.7857434959em 7px rgba(92, 255, 0, 0.9),
    0.0144254003em 0.5262086003em 7px rgba(138, 0, 255, 0.9),
    0.2616285702em 1.7614345276em 7px rgba(33, 0, 255, 0.9),
    0.9440920514em 1.5909998916em 7px rgba(188, 255, 0, 0.9),
    1.0637822192em 1.6255587422em 7px rgba(54, 255, 0, 0.9),
    0.2774317499em 0.3568421403em 7px rgba(0, 255, 120, 0.9),
    0.7548007826em 1.3912447585em 7px rgba(139, 255, 0, 0.9),
    0.3291058006em -0.2863726315em 7px rgba(220, 255, 0, 0.9),
    -0.3278972476em 0.0835095855em 7px rgba(151, 0, 255, 0.9),
    2.1658057217em 0.4606290256em 7px rgba(31, 255, 0, 0.9),
    0.8748827313em 2.4677715939em 7px rgba(0, 255, 88, 0.9),
    0.9039189495em 1.2995886397em 7px rgba(255, 72, 0, 0.9),
    0.7349537568em 0.0505499703em 7px rgba(244, 0, 255, 0.9),
    1.2926638353em 0.3883587132em 7px rgba(179, 255, 0, 0.9),
    2.0640829741em 0.6491250613em 7px rgba(0, 255, 113, 0.9),
    0.2466959509em 1.1514299597em 7px rgba(0, 255, 4, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

.head::after {
  opacity: 0.2;
  text-shadow: 0.1341764843em 2.4163891619em 7px rgba(255, 0, 180, 0.9),
    0.5327918247em 2.025372183em 7px rgba(197, 255, 0, 0.9),
    1.3266331453em 2.0882063333em 7px rgba(255, 195, 0, 0.9),
    -0.1565556959em -0.3731142706em 7px rgba(154, 0, 255, 0.9),
    1.7886388497em 1.5107890395em 7px rgba(255, 55, 0, 0.9),
    2.2409344771em 1.6068127124em 7px rgba(0, 188, 255, 0.9),
    0.4500321437em 0.4513325249em 7px rgba(0, 176, 255, 0.9),
    1.7870102364em 1.5814567799em 7px rgba(129, 0, 255, 0.9),
    0.0056208445em 2.1798855285em 7px rgba(255, 103, 0, 0.9),
    -0.1516146993em -0.2076152277em 7px rgba(0, 255, 63, 0.9),
    1.9974550856em 0.9228364056em 7px rgba(255, 0, 223, 0.9),
    1.4196087122em 0.576823998em 7px rgba(45, 255, 0, 0.9),
    -0.0681020503em 1.465642145em 7px rgba(0, 255, 88, 0.9),
    0.1983173977em 1.3699240984em 7px rgba(255, 0, 254, 0.9),
    2.2815997559em 1.8015660032em 7px rgba(255, 0, 222, 0.9),
    1.1079383824em 2.4839617053em 7px rgba(0, 175, 255, 0.9),
    1.4804286442em 0.3882176032em 7px rgba(255, 67, 0, 0.9),
    0.6446745858em 0.0683047845em 7px rgba(32, 255, 0, 0.9),
    2.4223294949em 0.8888881507em 7px rgba(255, 0, 213, 0.9),
    1.1320662968em 0.1580196978em 7px rgba(245, 255, 0, 0.9),
    2.0829875879em 1.999586396em 7px rgba(0, 44, 255, 0.9),
    1.4089735145em -0.0608701192em 7px rgba(59, 0, 255, 0.9),
    -0.4145220803em 2.3113063679em 7px rgba(255, 49, 0, 0.9),
    1.2070974573em 1.4558947972em 7px rgba(0, 255, 19, 0.9),
    1.0532953061em 0.4417323647em 7px rgba(0, 255, 8, 0.9),
    2.1778373306em -0.1722667228em 7px rgba(255, 174, 0, 0.9),
    -0.3321194527em 1.8839162032em 7px rgba(255, 0, 236, 0.9),
    1.3664174854em 1.4590954348em 7px rgba(15, 0, 255, 0.9),
    1.1866082631em 0.7706293966em 7px rgba(255, 0, 193, 0.9),
    2.0521831802em 0.1754589973em 7px rgba(0, 62, 255, 0.9),
    -0.0237302687em 0.3653563576em 7px rgba(0, 255, 219, 0.9),
    0.3892647565em 0.0019597161em 7px rgba(0, 255, 48, 0.9),
    1.9656201536em 0.2585411587em 7px rgba(0, 44, 255, 0.9),
    1.6971455858em 0.610057691em 7px rgba(0, 163, 255, 0.9),
    1.9987927744em 0.198913711em 7px rgba(0, 101, 255, 0.9),
    -0.0122794343em 2.2074322728em 7px rgba(173, 0, 255, 0.9),
    0.2998359471em 0.9620724904em 7px rgba(0, 255, 178, 0.9),
    1.7993547189em 2.4679537859em 7px rgba(103, 0, 255, 0.9),
    1.016288798em -0.11928793em 7px rgba(0, 255, 37, 0.9),
    0.0333995834em 2.0979120745em 7px rgba(255, 132, 0, 0.9),
    0.1664717022em -0.1523981567em 7px rgba(15, 255, 0, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#img {
  border-radius: 50%;
}

/* animate login component down the screen and fade it out, then animate up a class NOPE and fade it in
*/

.login {
  background-color: orangered;
  animation: slideDown 10s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.nope {
  font-family: "Courier New", Courier, monospace;
  font-size: 7rem;
  text-align: center;
  color: Black;
  animation: slideUp 6s ease-in-out 6s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(100vh);
  }
  80% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0vh);
  }
  25% {
    transform: translateY(-70vh);
  }
  60% {
    transform: translateY(-70vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

/* circlur gradient background behind .logo */

.logo {
  z-index: 2;
  display: block;
  margin: 20px auto 0px;
  width: 30vw;
  height: auto;
  animation: 3s infinite alternate floating;
}

.shadow {
  width: 30vw;

  z-index: 2;
  height: 3px;
  display: block;
  margin: 15px auto;
  animation: 3s infinite alternate shadow;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes shadow {
  0% {
    transform: scale(0.9);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.8);
  }
  50% {
    transform: scale(0.89);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.8);
  }
}

.favorite-button {
}

.addBackTeam {
  transition: all 1s ease-in-out;
}

.BackTeam .BackTeamText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
  color: rgb(255, 255, 255);
  font-size: 7rem;
}

.BackTeam .BackTeamBlack {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.6;
  transition: all 1s ease-in-out;
}

.BackTeamTitle::after {
  content: "BackTeam";
  transition: all 1s ease-in-out;
}

.BackTeam .BackTeamTitle::after {
  content: "BackTeam";
  transition: all 1s ease-in-out;
  animation: 20s infinite BackTeam;
}

/* animate text BackTeamTitle in BackTeam animation */
.BackTeam .BackTeamTitle::after {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
  opacity: 0.3;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - 99px);
  left: calc(50% - 250px);
  -webkit-animation-delay: 5674ms;
  animation-delay: 5674ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 5674ms;
  animation-delay: 5674ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 95px);
  left: calc(50% - 189px);
  -webkit-animation-delay: 7541ms;
  animation-delay: 7541ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 7541ms;
  animation-delay: 7541ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -113px);
  left: calc(50% - 242px);
  -webkit-animation-delay: 8943ms;
  animation-delay: 8943ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 8943ms;
  animation-delay: 8943ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 99px);
  left: calc(50% - 78px);
  -webkit-animation-delay: 2063ms;
  animation-delay: 2063ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 2063ms;
  animation-delay: 2063ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 44px);
  left: calc(50% - 253px);
  -webkit-animation-delay: 1354ms;
  animation-delay: 1354ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 1354ms;
  animation-delay: 1354ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -93px);
  left: calc(50% - 257px);
  -webkit-animation-delay: 2702ms;
  animation-delay: 2702ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 2702ms;
  animation-delay: 2702ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 136px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 8622ms;
  animation-delay: 8622ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 8622ms;
  animation-delay: 8622ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 113px);
  left: calc(50% - 102px);
  -webkit-animation-delay: 1812ms;
  animation-delay: 1812ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 1812ms;
  animation-delay: 1812ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -185px);
  left: calc(50% - 300px);
  -webkit-animation-delay: 642ms;
  animation-delay: 642ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 642ms;
  animation-delay: 642ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -180px);
  left: calc(50% - 48px);
  -webkit-animation-delay: 4493ms;
  animation-delay: 4493ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 4493ms;
  animation-delay: 4493ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -116px);
  left: calc(50% - 292px);
  -webkit-animation-delay: 4480ms;
  animation-delay: 4480ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 4480ms;
  animation-delay: 4480ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 154px);
  left: calc(50% - 41px);
  -webkit-animation-delay: 5150ms;
  animation-delay: 5150ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 5150ms;
  animation-delay: 5150ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -54px);
  left: calc(50% - 171px);
  -webkit-animation-delay: 3209ms;
  animation-delay: 3209ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 3209ms;
  animation-delay: 3209ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -103px);
  left: calc(50% - 294px);
  -webkit-animation-delay: 864ms;
  animation-delay: 864ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 864ms;
  animation-delay: 864ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 199px);
  left: calc(50% - 251px);
  -webkit-animation-delay: 160ms;
  animation-delay: 160ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 160ms;
  animation-delay: 160ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 17px);
  left: calc(50% - 284px);
  -webkit-animation-delay: 5025ms;
  animation-delay: 5025ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 5025ms;
  animation-delay: 5025ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - 64px);
  left: calc(50% - 276px);
  -webkit-animation-delay: 8715ms;
  animation-delay: 8715ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 8715ms;
  animation-delay: 8715ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -184px);
  left: calc(50% - 35px);
  -webkit-animation-delay: 4767ms;
  animation-delay: 4767ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 4767ms;
  animation-delay: 4767ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -127px);
  left: calc(50% - 118px);
  -webkit-animation-delay: 3828ms;
  animation-delay: 3828ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 3828ms;
  animation-delay: 3828ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 37px);
  left: calc(50% - 115px);
  -webkit-animation-delay: 5359ms;
  animation-delay: 5359ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 5359ms;
  animation-delay: 5359ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

#secret_slide {
  user-select: none;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translateX(-50vw);
  }
  20% {
    rotate: -10deg;
  }
  50% {
    transform: translateX(100%);
  }
  55% {
    transform: translateX(105%);
  }
  60% {
    rotate: 10;
  }
  90% {
    rotate: -5deg;
  }
  100% {
    transform: translateX(0);
  }
}
